#Editors
.idea
.vscode
.vs
*.xcodeproj

#cmake
cmake-build-debug/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#outputs
*.a
build
Debug
Release
*.build
*.cbp
Debug
